```
# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/xcshareddata/
*.xccheckout
*.moved-aside
*.xcuserstate
build/
DerivedData/

# Swift
*.swiftpm/
Packages/
.swift-version

# General
.DS_Store
Thumbs.db
```